*{
    -fx-padding: 0;
}
#main{
    -fx-background-image: url("/img/homeBg.png");
    -fx-background-size: cover;
    -fx-min-height: 500px;
    -fx-max-width: 800px;
}
.menu{
    -fx-background-color: #f1f1f122;
    -fx-min-height: 500px;
    -fx-max-width: 200px;
}
.name{
    -fx-translate-x: 65;
    -fx-translate-y: 20;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-fill: #f1f1f1;
    -fx-opacity: 0;
}