*{
    -fx-padding: 0;
}
#title{
    -fx-translate-y: -30px;
    -fx-font-weight: bolder;
    -fx-font-size: 40px;
}
#blur{
    -fx-background-radius: 10px;
    -fx-background-color: rgba(255, 255, 255, 0.3);
    -fx-max-width: 350px;
    -fx-pref-height: 220px;
}
#reg{
    -fx-background-image: url("/img/regBg.png");
    -fx-background-position: center;
    -fx-background-size: cover;
}
.user,.password,.gender,.classname{
    -fx-font-size: 16px;
    -fx-translate-y: 25px;
    -fx-translate-x: 40px;
    -fx-font-weight: bold;

}
.password{
    -fx-translate-x: 55px;
}
.gender{
    -fx-translate-x: 55px;
    -fx-font-size: 15px;
    -fx-translate-y: 10px;
}
.classname{
    -fx-translate-x: 155px;
    -fx-font-size: 15px;
    -fx-translate-y: -35px;
}
.userInput,.passwordInput,.genderInput,.classnameInput{
    -fx-max-width: 200px;
    -fx-pref-height: 30px;
    -fx-translate-x: 100px;
    -fx-background-color: transparent;
    -fx-border-color: #666666;
    -fx-border-width: 0 0 1 0;
    -fx-font-size: 16px;
}
.genderInput{
    -fx-max-width: 50px;
    -fx-translate-y: -13px;
}
.classnameInput{
    -fx-max-width: 100px;
    -fx-translate-x: 200px;
    -fx-translate-y: -56px;
}
.userInput:hover,.passwordInput:hover{
    -fx-border-color: #ffffff;
}
.userInput:focused,.passwordInput:focused{
    -fx-border-color: #131313;
}
.btnLogin,.btnReg{
    -fx-translate-x: 60px;
    -fx-translate-y: 20px;
    -fx-pref-height: 30px;
    -fx-max-width: 80px;
}
.btnReg{
    -fx-translate-y: -10px;
    -fx-translate-x: 220px;
}
#tips{
    -fx-translate-y: 20px;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: red;
}